vendor_dir: vendor/modules

terrafile-test-registry:
  source: "terraform-digitalocean-modules/droplet/digitalocean"
  version: "0.1.x"
terrafile-test-https:
  source: "github.com/terraform-digitalocean-modules/terraform-digitalocean-droplet.git"
terrafile-test-tag:
  source: "git@github.com:terraform-digitalocean-modules/terraform-digitalocean-droplet.git"
  version: "> 0.0.2 < 0.1.1"
terrafile-test-branch:
  source: "git@github.com:terraform-digitalocean-modules/terraform-digitalocean-droplet.git?ref=branch_test"
terrafile-test-commit:
  source: "github.com/terraform-digitalocean-modules/terraform-digitalocean-droplet.git"
  version: "2e6b9729f3f6ea3ef5190bac0b0e1544a01fd80f"
terrafile-test-path:
  source: "https://github.com/terraform-digitalocean-modules/terraform-digitalocean-droplet.git//examples/simple?ref=v0.1.7"
terrafile-test-archive:
  source: "https://github.com/terraform-digitalocean-modules/terraform-digitalocean-droplet/archive/v0.1.7.tar.gz//terraform-digitalocean-droplet-0.1.7"
terrafile-test-local:
  source: "./test/module"
