tf-aws-vpc:
  source:  "git@github.com:terraform-aws-modules/terraform-aws-vpc"
  version: "v1.46.0"
tf-aws-vpc-experimental:
  source:  "git@github.com:terraform-aws-modules/terraform-aws-vpc"
  version: "master"
tf-aws-vpc-commit:
  source:  "git@github.com:terraform-aws-modules/terraform-aws-vpc"
  version: "01601169c00c68f37d5df8a80cc17c88f02c04d0"
tf-aws-vpc-default:
  source:  "git@github.com:terraform-aws-modules/terraform-aws-vpc"
terraform-aws-lambda:
  source: "claranet/lambda/aws"
  version: "0.7.0"
terraform-test-path:
  source: "./test/module"
